{{define "title"}}~/login{{end}}

{{define "head"}}{{end}}

{{define "body"}}
    <div data-props="{}">
        <h2>Login</h2>
        <form>
            <input type=text />
            <input type=password />
            <button type="submit">Submit</button>
        </form>
    </div>
{{end}}
